.example {
  position: relative;
  background: @grey;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, transparent, transparent 620px, @grey 620px, @grey);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, transparent, transparent 205px, @grey 205px, @grey);
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__content {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.example__text {
  .basic-text();
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 110px;
    max-width: 438px;
    margin-bottom: 70px;
  }
}

.example__slider {
  text-align: center;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}
