.example {
  position: relative;

  &::before {
    background-color: @grey;
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 420px;
    }

    @media (min-width: @desktop-width) {
      top: 195px;
    }
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__content {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.example__text {
  .basic-text();

  @media (min-width: @desktop-width) {
    padding-top: 70px;
  }
}

.example__slider {
  text-align: center;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}
