.extra {
  border-bottom: 1px solid @special-grey;
  padding-bottom: 18px;

  &:first-of-type {
    border-top: 1px solid @special-grey;
  }
}

.extra__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.extra__specs {
  .basic-text();
}
