.page-header {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
