.product {
  padding-bottom: 24px;
  border-bottom: 1px solid @special-grey;

  &:first-of-type {
    border-top: 1px solid @special-grey;
  }
}
.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.product__specs {
  .basic-text();
  font-size: 12px;
  line-height: 16px;
}

.product--more {
  text-align: center;
}
